[mysqld]
datadir=/home/t/mysql/var/mysql
socket=/home/t/mysql/var/mysql/mysql.sock
user=mysql

[mysqld_safe]
log-error=/home/t/mysql/var/log/mysqld.log
pid-file=/home/t/mysql/var/run/mysqld/mysqld.pid

